/*

  To do list
  1. Download suitable images and icons
  2. Pick right color theme
  3. Pick typography and link it
  4. Use grid to finish laying out other parts of the webpage

*/

/* Web Fonts */

@font-face {
  font-family: 'robotoregular';
  src: url('./font/webfontkit-20240607-040255/roboto-regular-webfont.woff2') format('woff2'),
       url('./font/webfontkit-20240607-040255/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Basic Resets */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'robotoregular', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
 text-decoration: none;
 color: black;
}

input,
select,
textarea {
  appearance: none;
}

/* Styles */

.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar profile"
    "sidebar main";
}

.logo-icons {
  width: 100%;
  filter: brightness(0) invert(1);
}

.sidebar {
  font-weight: 700;
  letter-spacing: .1rem;
  grid-area: sidebar;
  color: #fff;
  background: #34d399;
  font-size: 1.3rem;
}

.sidebar ul:first-child {
  margin-bottom: 4rem;
}

.sidebar__title {
  margin: 1rem 2rem;
}

.sidebar__title > .sidebar__logo {
  vertical-align: top;
}

.sidebar__logo {
  max-width: 2.5rem;
  margin: 0 1rem 1rem 0;
  vertical-align: -.7rem;
  display: inline-block;
}

/* Header */

.header {
  grid-area: header;
  background: #fff;
  padding: 1rem 0;
}

.header__container {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  grid-template-columns: 5fr 2rem 250px;
  align-content: center;
  align-items: center;
}

.header__container input[type="search"] {
  width: 70%;
  margin-left: 4rem;
  border: none;
  background: rgb(228, 228, 228);
  border-radius: 100px;
  padding: .6rem 0 .6rem 1rem;
}

.header__search > span {
  margin-left: 2rem;
  position: relative;
}

.header__search > span::before {
  content: '';
  position: absolute;
  background: url('./image/magnify.svg');
  height: 2rem;
  width: 2rem;
  background-size: contain;
  left: .2rem;
}

.header__container--bell {
  width: 100%;
  align-self: center;
}

.header__container--profile {
  display: inline;
  width: 3.5rem;
  background: #a3e635;
  border-radius: 100%;
}

.profile-name {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
}

.profile-name p {
  display: inline;
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}


.header__profile {
  grid-area: profile;
  background: #fff;
  padding: 1rem 0;

  display: grid;
  grid-template-columns: 50% 1fr 1fr;
}

.header__profile--img {
  display: inline-block;
  background: #a3e635;
  border-radius: 100%;
}

.header__profile--title {
  display: grid;
  gap: 2rem;
  grid-template-columns: 4rem 1fr;
  align-items: center;

  margin-left: 2rem;
}

.header__profile--links {
  display: grid;
  margin-left: 5rem;
  gap: 2rem;
  grid-template-columns: repeat(3, 8rem);
  justify-content: end;
  align-items: center;
}

.header__profile--img img {
  width: 100%;
}

.main {
  grid-area: main;
  background: rgb(243, 242, 242);
  padding: 2rem;
  gap: 2rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.main-projects {
  grid-area: projects;
}

.main-announcements {
  grid-area: announcements;
}

.main-trending {
  grid-area: trending;
}

.greeting {
  font-weight: 700;
}

.greeting > span {
  font-size: 1.2rem;
}

.header__profile--item {
  background: #34d399;
  padding: .8rem 2rem;
  text-align: center;
  border-radius: 100px;
}

.header__profile--item > a {
  color: #fff;
  font-weight: 700;
}

.main-projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-template-rows: repeat(3, 15em);
  grid-auto-rows: 15em;
  gap: 1.5rem;
}

.main-projects__card {
  background: #fff;
  padding: 1rem;
  border-left: 10px solid #f87171;
  border-radius: 10px;
  position: relative;
}

.main-projects__card--text {
  width: 90%;
  margin-left: .5rem;
}

.main-projects__card--text > h3 {
  margin: .5rem 0 .5rem;
}

.main-projects__card--text > p {
  margin: 0;
  padding: 0;
  color: rgb(94, 94, 94);
}

.main-projects__icons {
  display: inline-grid;
  grid-template-columns: 2.3rem 2.3rem 2.3rem;
  gap: 1.4rem;
  position: absolute;
  right: .7rem;
  bottom: .7rem;
}

.main-projects__icons > img {
  display: block;
  max-width: 2rem;
}

.main-projects__icons > img:hover {
  opacity: .5;
}