/*

  To do list
  1. Download suitable images and icons
  2. Pick right color theme
  3. Pick typography and link it
  4. Use grid to finish laying out other parts of the webpage

*/

/* Web Fonts */

@font-face {
  font-family: 'robotoregular';
  src: url('./font/webfontkit-20240607-040255/roboto-regular-webfont.woff2') format('woff2'),
       url('./font/webfontkit-20240607-040255/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Basic Resets */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'robotoregular', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
 text-decoration: none;
 color: black;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar profile"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  color: #fff;
  background: #34d399;
  font-size: 1.3rem;
}

.sidebar__title {
  display: grid;
  margin-left: 1em;
  grid-template-columns: 2.5rem 1fr;
}

.sidebar__logo {
  display: inline-block;
}

.sidebar__logo--img {
  width: 100%;
  filter: brightness(0) invert(1);
}

.header {
  grid-area: header;
  background: red;
}

.header__profile {
  grid-area: profile;
  background: purple;
}

.main {
  grid-area: main;
  background: yellow;
}